.ant-divider.ant-divider-horizontal {
  margin: 10px 0;
}

.ant-card {
  h4 {
    margin: 0;
  }

  .order-detail-table {
    width: 100%;
    text-align: center;
    font-size: 12px;

    td:first-child {
      text-align: left;
    }

    td:last-child {
      text-align: right;
    }
  }
}


