.order-confirmation-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 30px;

  .button-container {
    display: flex;

    button {
      flex: 1;
      margin-right: 10px;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}
